*~
Makefile
config.h
config.h.in
config.status
configure
autom4te.cache
config.log
libyaml.tex
yaml.tex
yaml.aux
yaml.html
yaml.idx
yaml.ilg
yaml.ind
yaml.log
yaml.out
yaml.pdf
yaml.tex
yaml.toc
texput.log
*.o
*.so
*.dll
*.dylib
TAGS
